.video_border {
  background: url('../../../../public/assets/images/video_frame.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 10px;
  height: 559px;
  position: relative;
  .spinner_wrap {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::before {
    content: '';
    background-image: url('../../../../public/assets/images/video_bottom.svg');
    position: absolute;
    bottom: 25px;
    left: 0px;
    background-size: 450px 85px;
    width: 450px;
    height: 85px;
    z-index: 1;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
  .animation_video {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0% 4%;
    height: 85%;
    margin-top: 40px;
  }
  .video_btn_wrp {
    position: absolute;
    top: 46%;
    transform: translateY(-46%);
    left: 0;
    right: 0;
    text-align: center;
    button {
      background: transparent;
      border: transparent;
      border-radius: 50%;
      height: 36px;
      width: 36px;
    }
  }
  .react_player_video {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0% 4%;
    margin-top: 40px;
    & > div {
      height: 518px !important;
      width: 100% !important;
      padding-top: 42px;
    }
  }
}
//  Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 80px 0;
    &::before {
      bottom: 10.5%;
      width: 40%;
      background-size: 100% 85px;
    }
    .animation_video {
      height: 400px !important;
      margin-top: unset;
      padding: unset;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 400px !important;
        padding-top: unset;
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 60px 0;
    &::before {
      bottom: 8%;
      width: 40%;
    }
    .animation_video {
      height: 300px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 298px !important;
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 60px 0;
    &::before {
      bottom: 8%;
      width: 40%;
    }
    .animation_video {
      height: 300px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 298px !important;
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 43px 0;
    &::before {
      bottom: 4%;
      width: 40%;
    }
    .animation_video {
      height: 220px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 220px !important;
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .video_border {
    display: flex;
    align-items: center;
    &::before {
      bottom: 4%;
      width: 40%;
    }
    .animation_video {
      height: 195px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 195px !important;
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 30px;
    &::before {
      bottom: -2.5%;
      width: 40%;
    }
    .animation_video {
      height: 151px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 151px !important;
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .video_border {
    display: flex;
    align-items: center;
    height: auto;
    padding: 25px;
    &::before {
      bottom: -6%;
      width: 40%;
    }
    .animation_video {
      height: 127px !important;
    }
    .react_player_video {
      margin-top: unset;
      & > div {
        height: 127px !important;
      }
    }
  }
} /* 320 */
