.video_border {
  background: url('../../../../public/assets/images/video_frame.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-top: 50px;
  height: 559px;
  .animation_video {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0% 4%;
    height: 478px;
    margin-top: 40px;
  }
}
