@import '../../../../styles/typography.module';
.nft_card_wrap {
  margin-top: 40px;
  .nft_heading {
    @include heading_3;
    text-align: center;
    margin: 60px;
    font-family: 'Roboto Slab';
  }
  background: linear-gradient(
    181.02deg,
    rgba(162, 70, 211, 0) 90.89%,
    #a246d3 99.12%
  );
  width: 308px;
  height: 384px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  .nft_card_img_wrap {
    width: 100%;
    position: relative;
    border-radius: 25px;
    height: 140px;
    position: relative;
    .backgroud_nft_card {
      position: absolute;
      left: -58px;
      top: -91px;
    }
    .img_nft_card {
      position: absolute !important;
      top: -147px;
      left: -9px;
    }
  }
  .nft_card_sec {
    color: #ffffff;
    font-family: 'Rubik';
    .nft_card_art {
      display: flex;
      flex-direction: row;
      align-items: center;
      .nft_card_heading_wrap {
        display: inline-block;
        width: 45%;
        p {
          font-size: 14px;
          padding: 15px 10px 2px 25px;
          display: inline-block;
        }
        h6 {
          font-size: 15px;
          display: inline-block;
          padding: 0px 20px 0px 20px;
        }
      }
    }
    .opensea_btn {
      background: linear-gradient(#0d0e31 0 0) padding-box,
        linear-gradient(to right, #faff00, #fe19c1) border-box;
      color: #fff;
      padding: 10px 25px;
      border: 1px solid transparent;
      border-radius: 50px;
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
    }
    .nft_card_price {
      display: flex;
      justify-content: center;
      font-family: 'Rubik';
      padding: 20px 0px 25px 0px;
      h5 {
        color: #faff00;
      }
      p {
        font-size: 12px;
        padding: 5px 20px;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 10px 0;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 11px;
          }
        }
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 10px 0;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 105px;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 75px;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 25px;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .nft_card_wrap {
    display: inline-block;
    vertical-align: middle;
    height: unset;
    margin: 130px 0px;
    &:nth-child(3) {
      margin-top: 172px;
    }
    .nft_card_sec {
      .nft_card_art {
        .nft_card_heading_wrap {
          h6 {
            padding: 0px 0px 0px 20px;
          }
        }
      }
    }
  }
} /* 320 */
