.blog_table_wrap {
  padding: 3% 3% 11% 3%;
  .top_bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    .top_bar_left {
      width: 50%;
      display: flex;
      align-items: center;
    }
    .top_bar_right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      .filter_wrap {
        width: 25%;
      }
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 45%;
      }
      .top_bar_right {
        width: 55%;
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 40%;
      }
      .top_bar_right {
        width: 60%;
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 35%;
      }
      .top_bar_right {
        width: 65%;
        .filter_wrap {
          width: 43%;
        }
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .blog_table_wrap {
    .top_bar {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      .top_bar_left {
        width: 100%;
      }
      .top_bar_right {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_right {
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
