.blog_table_wrap {
  padding: 3% 3% 11% 3%;
  .top_bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    .top_bar_left {
      width: 35%;
      display: flex;
      align-items: center;
    }
    .top_bar_right {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      .filter_wrap {
        width: 25%;
      }
      .filter_date_wrap {
        width: 35%;
        color: #ffffff;
        padding: 7px;
        font-size: 14px;
        border: none;
        /* border-color: hsl(0deg, 0%, 80%); */
        background: transparent;
        border-radius: 30px;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        text-align: center;
        .filter_close_btn {
          background-color: transparent;
          color: #fff;
          font-size: 24px;
          padding: unset;
          line-height: 24px;
          border: unset;
        }
      }
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 45%;
      }
      .top_bar_right {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        .filter_date_wrap {
          width: 45%;
        }
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 45%;
      }
      .top_bar_right {
        .filter_date_wrap {
          width: 40%;
        }
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 40%;
      }
      .top_bar_right {
        width: 60%;
        .filter_date_wrap {
          width: 55%;
        }
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_left {
        width: 35%;
      }
      .top_bar_right {
        width: 65%;
        .filter_wrap {
          width: 43%;
        }
        .filter_date_wrap {
          width: 60%;
        }
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .blog_table_wrap {
    .top_bar {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      .top_bar_left {
        width: 100%;
      }
      .top_bar_right {
        width: 100%;
        .filter_date_wrap {
          width: 85%;
        }
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_right {
        width: 100%;
        .filter_date_wrap {
          width: 100%;
        }
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .blog_table_wrap {
    .top_bar {
      .top_bar_right {
        width: 100%;
        .filter_date_wrap {
          width: 80%;
        }
      }
    }
  }
} /* 320 */
