@import '../../../../styles/typography.module';
@mixin common_Scss {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 241px;
}
.work_wrap {
  position: relative;
  height: 600px;
  margin-top: 71px;
  h3 {
    @include heading_2;
  }

  .work_image {
    width: 90%;
    position: absolute;
    top: -60px;
    left: 45px;
  }
  .earn_text {
    @include heading_7;
    @include common_Scss;
    top: 233px;
    left: -35px;
  }
  .learn_text {
    @include heading_7;
    @include common_Scss;
    top: 437px;
    left: 174px;
  }
  .shop_text {
    @include heading_7;
    @include common_Scss;
    right: 162px;
    top: 439px;
  }
  .trade_text {
    @include heading_7;
    @include common_Scss;
    top: 210px;
    right: -58px;
  }
}

@media only screen and (max-width: 1199px) {
  .work_wrap {
    .earn_text {
      top: 154px;
      left: -11px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .learn_text {
      top: 318px;
      left: 155px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .shop_text {
      right: 96px;
      top: 320px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .trade_text {
      top: 113px;
      right: -53px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
  .work_wrap {
    .work_image {
      width: 70%;
      top: 39px;
      left: 106px;
    }
    .earn_text {
      top: 154px;
      left: -11px;
    }
    .learn_text {
      top: 318px;
      left: 155px;
    }
    .shop_text {
      right: 96px;
      top: 320px;
    }
    .trade_text {
      top: 113px;
      right: -53px;
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
