@import '../../../../styles/typography.module';
@mixin common_Scss {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 241px;
}
.work_wrap {
  position: relative;
  height: 600px;
  margin-top: 71px;
  h3 {
    @include heading_2;
  }
  .mobile_work_image {
    display: none;
  }
  .work_image {
    width: 90%;
    position: absolute;
    top: -60px;
    left: 45px;
  }
  .earn_text {
    @include heading_7;
    @include common_Scss;
    top: 233px;
    left: -35px;
  }
  .learn_text {
    @include heading_7;
    @include common_Scss;
    top: 437px;
    left: 174px;
  }
  .shop_text {
    @include heading_7;
    @include common_Scss;
    right: 162px;
    top: 439px;
  }
  .trade_text {
    @include heading_7;
    @include common_Scss;
    top: 210px;
    right: -58px;
  }
}

@media only screen and (max-width: 1199px) {
  .work_wrap {
    .earn_text {
      top: 154px;
      left: -11px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .learn_text {
      top: 318px;
      left: 155px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .shop_text {
      right: 96px;
      top: 320px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
    .trade_text {
      top: 113px;
      right: -53px;
      width: 162px;
      font-size: 13px;
      line-height: 15px;
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .work_wrap {
    h3 {
      font-size: 22px;
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .work_wrap {
    height: 20%;
    .work_image {
      display: none;
    }
    .mobile_work_image {
      width: 100%;
      top: 39px;
      left: 106px;
      display: block;
      text-align: center;

      span {
        margin: auto !important;
        width: 300px !important;
      }
    }
    .earn_text {
      left: 40%;
    }
    .learn_text {
      top: 38%;
      left: 40%;
    }
    .shop_text {
      top: 67%;
      left: 40%;
    }
    .trade_text {
      top: 89%;
      left: 40%;
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .work_wrap {
    height: 20%;
    .work_image {
      display: none;
    }
    .mobile_work_image {
      width: 100%;
      top: 39px;
      left: 106px;
      display: block;
      text-align: center;

      span {
        margin: auto !important;
        width: 300px !important;
      }
    }
    .earn_text {
      left: 37%;
    }
    .learn_text {
      left: 37%;
    }
    .shop_text {
      left: 37%;
    }
    .trade_text {
      left: 37%;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .work_wrap {
    height: 20%;
    .work_image {
      display: none;
    }
    .mobile_work_image {
      width: 100%;
      top: 39px;
      left: 106px;
      display: block;
      text-align: center;

      span {
        margin: auto !important;
        width: 300px !important;
      }
    }
    .earn_text {
      left: 34%;
    }
    .learn_text {
      left: 34%;
    }
    .shop_text {
      left: 34%;
    }
    .trade_text {
      left: 34%;
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .work_wrap {
    height: 20%;
    .work_image {
      display: none;
    }
    .mobile_work_image {
      width: 100%;
      top: 39px;
      left: 106px;
      display: block;
      text-align: center;

      span {
        margin: auto !important;
        width: 300px !important;
      }
    }
    .earn_text {
      left: 29%;
    }
    .learn_text {
      left: 29%;
    }
    .shop_text {
      left: 29%;
    }
    .trade_text {
      left: 29%;
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .work_wrap {
    height: 20%;
    h3 {
      font-size: 30px;
    }
    .work_image {
      display: none;
    }
    .mobile_work_image {
      width: 100%;
      top: 39px;
      left: 106px;
      display: block;
      text-align: center;

      span {
        margin: auto !important;
        width: 300px !important;
      }
    }
    .earn_text {
      left: 25%;
    }
    .learn_text {
      left: 25%;
    }
    .shop_text {
      left: 25%;
    }
    .trade_text {
      left: 25%;
    }
  }
} /* 320 */
