@import '../../../../styles/typography.module';
.astroon_token_wrap {
  width: 100%;
  border-radius: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  .astroon_token_heading {
    @include heading_2;
    text-align: center;
    font-family: 'mont black';
    font-size: 20px;
    margin-bottom: 75px;
  }
  .content_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .left_wrap {
      width: 30%;
      position: relative;
    }
    .right_wrap {
      width: 40%;
      p {
        font-family: 'black regular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-top: 40px;
        color: #efefef;
      }
      div {
        .point_heading {
          @include heading_2;
          font-size: 20px;
          text-align: center;
          font-family: 'mont black';
          text-align: left;
        }

        p {
          margin-top: 10px;
        }
        // ol {
        //   li {
        //     font-family: 'Rubik';
        //     font-style: normal;
        //     font-weight: 400;
        //     font-size: 14px;
        //     line-height: 20px;
        //     color: #efefef;
        //     margin-bottom: 10px;
        //   }
        // }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .astroon_token_wrap {
    .astroon_token_heading {
    }
    .content_wrap {
      flex-direction: column;

      .left_wrap {
        width: 60%;
      }
      .right_wrap {
        width: 100%;

        p {
          text-align: center;
        }
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .point_heading {
          }
          ol {
            li {
            }
          }
        }
      }
    }
  }
} /* 980 */

@media only screen and (max-width: 479px) {
  .astroon_token_wrap {
    .content_wrap {
      .left_wrap {
        width: 80%;
      }
    }
  }
} /* 375 */
