@import '../../../../styles/typography.module';
.dialogbox_wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(3, 2, 35, 0.89);
  .modal_content {
    width: 37%;
    background: url('../../../../public/assets/images/dialogBackgorund.png');
    border-radius: 25px;
    padding: 31px 38px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .modal_header {
      .dailog_title {
        @include heading_12;
        margin-bottom: 20px;
      }
    }
    .input_wrap {
      padding: 0px 40px 20px 40px;
    }
    .dialog_body {
      width: 80%;
      margin-bottom: 20px;
      @include heading_7;
      font-size: 13px;
      text-align: center;
      line-height: 18px;
      margin: 0px auto 25px auto;
    }

    .dialog_footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .dialog_left_btn {
        background: transparent;
        padding: 10px;
        padding: 7px 39px;
        border: 1px solid #ffffff;
        border-radius: 268px;
        @include heading_7;
      }
      .dialog_right_btn {
        background: #ffffff;
        padding: 10px;
        padding: 7px 39px;
        border: 1px solid #ffffff;
        border-radius: 268px;
        @include heading_7;
        color: #020039;
      }
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
  .dialogbox_wrap {
    .modal_content {
      width: 60%;
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .dialogbox_wrap {
    .modal_content {
      width: 73%;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
  .dialogbox_wrap {
    .modal_content {
      padding: 27px 18px;
      .dialog_body {
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
      }
      .input_wrap {
        padding: 0px 10px 20px 10px;
      }
      .dialog_footer {
        .dialog_left_btn {
          margin-left: 0px;
          padding: 7px 26px;
        }
        .dialog_right_btn {
          padding: 7px 26px;
        }
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .dialogbox_wrap {
    .modal_content {
      width: 87%;
    }
  }
} /* 320 */
