@import '../../../../styles/typography.module';
.search_bar_wrap {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border: 1px solid hsl(0deg, 0%, 70%);
  padding: 7px 16px;
  border-radius: 36px;
  .search_input {
    color: white;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 15px;
    color: #fff;
    ::placeholder {
      font-size: 21px;
      font-family: 'Rubik';
      font-weight: 500;
      color: #b8b8b8;
    }
  }
}
