@import '../../../../styles/typography.module';
.roadmap_wrapper {
  margin: 0 0;
  width: 88%;
  margin: 0 auto;
  .roadmap_heading {
    h3 {
      @include heading_2;
    }
  }

  .roadmap_image {
    width: 85%;
    margin: 0 auto;

    .roadmap_text {
      position: absolute;
      color: white;
      width: 27%;
      p {
        font-family: 'Rubik', sans-serif;
        &:nth-child(1) {
          font-weight: 700;
          font-size: 22px;
          line-height: 22px;
        }

        &:nth-child(2) {
          font-weight: 300;
          font-size: 13px;
        }
      }
      &:nth-child(2) {
        top: 75px;
        left: 80px;
      }

      &:nth-child(3) {
        top: 270px;
        left: -95px;
      }

      &:nth-child(4) {
        bottom: 197px;
        right: -80px;
      }

      &:nth-child(5) {
        bottom: -130px;
        left: 14px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .roadmap_wrapper {
    .roadmap_image {
      .roadmap_text {
        width: 35%;
        &:nth-child(2) {
          top: 30px;
          left: 20px;
        }

        &:nth-child(3) {
          top: 175px;
          left: -90px;
        }

        &:nth-child(4) {
          bottom: 135px;
          right: -100px;
        }

        &:nth-child(5) {
          bottom: -130px;
          left: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 979px) {
  .roadmap_wrapper {
    .roadmap_image {
      width: 78%;

      .roadmap_text {
        width: 42%;
        &:nth-child(2) {
          top: 0;
          left: -30px;
        }

        &:nth-child(3) {
          top: 105px;
          left: -105px;
        }

        &:nth-child(4) {
          bottom: 85px;
          right: -105px;
        }

        &:nth-child(5) {
          bottom: -130px;
          left: 0px;
        }
      }
    }
  }
} /* 768 */

@media screen and (max-width: 768px) {
  .roadmap_wrapper {
    .roadmap_image {
      .roadmap_text {
        width: 42%;
        &:nth-child(2) {
          top: 0;
          left: -30px;
        }

        &:nth-child(3) {
          top: 105px;
          left: -105px;
        }

        &:nth-child(4) {
          bottom: 85px;
          right: -105px;
        }

        &:nth-child(5) {
          bottom: -130px;
          left: 0px;
        }
      }
    }
  }
}
