@import '../../../../styles/typography.module';
.roadmap_wrapper {
  margin: 0 0;
  width: 88%;
  margin: 0 auto;
  // margin-bottom: 269px;
  .roadmap_heading {
    h3 {
      @include heading_2;
      margin-bottom: 59px;
    }
  }

  .roadmap_image {
    width: 85%;
    margin: 0 auto;
    position: relative;
    .roadmap_mobile {
      display: none !important;
    }

    .youtube_PopUp {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 76px;
      width: 400px;
      height: 200px;
    }

    .loading_PopUp {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 182px;
      right: 129px;
      width: 208px;
      height: 133px;
    }

    // .roadmap_text {
    //   position: absolute;
    //   color: white;
    //   width: 27%;
    //   p {
    //     font-family: 'Rubik', sans-serif;
    //     &:nth-child(1) {
    //       font-weight: 700;
    //       font-size: 22px;
    //       line-height: 22px;
    //     }

    //     &:nth-child(2) {
    //       font-weight: 300;
    //       font-size: 13px;
    //     }
    //   }
    //   &:nth-child(3) {
    //     top: 130px;
    //     left: 95px;
    //   }
    //   &:nth-child(4) {
    //     bottom: 197px;
    //     right: -80px;
    //   }
    //   &:nth-child(5) {
    //     top: 330px;
    //     left: -60px;
    //   }
    //   &:nth-child(6) {
    //     bottom: -130px;
    //     left: 14px;
    //   }
    // }
  }
}

@media screen and (max-width: 1199px) {
  .roadmap_wrapper {
    .roadmap_image {
      .roadmap_text {
        width: 35%;
        &:nth-child(3) {
          top: 100px;
          left: 15px;
        }

        &:nth-child(4) {
          top: 300px;
          left: 605px;
        }

        &:nth-child(5) {
          top: 250px;
          left: -106px;
        }

        &:nth-child(6) {
          bottom: -115px;
          left: 0px;
        }
      }
    }
  }
} /* 1024 */

@media screen and (max-width: 1023px) {
  .roadmap_wrapper {
    .roadmap_image {
      .roadmap_text {
        width: 35%;
        &:nth-child(3) {
          top: 105px;
          left: 15px;
        }

        &:nth-child(4) {
          top: 280px;
          left: 580px;
        }

        &:nth-child(5) {
          top: 240px;
          left: -106px;
        }

        &:nth-child(6) {
          bottom: -110px;
          left: 0px;
        }
      }
    }
  }
} /* 980 */

@media only screen and (max-width: 979px) {
  .roadmap_wrapper {
    .roadmap_image {
      width: 78%;

      .roadmap_mobile {
        display: block !important;
        text-align: center;
      }
      .roadmap_text {
        width: 42%;
        &:nth-child(3) {
          top: 100px;
          left: 293px;
        }

        &:nth-child(4) {
          top: 423px;
          left: 293px;
        }

        &:nth-child(5) {
          top: 515px;
          left: 40px;
        }

        &:nth-child(6) {
          bottom: -120px;
          left: 230px;
        }
      }
    }
  }
} /* 768 */

@media screen and (max-width: 767px) {
  .roadmap_wrapper {
    .roadmap_image {
      width: 78%;

      .roadmap_mobile {
        display: block !important;
        text-align: center;
      }
      .roadmap_text {
        width: 42%;
        &:nth-child(3) {
          top: 105px;
          left: 245px;
        }

        &:nth-child(4) {
          top: 420px;
          left: 245px;
        }

        &:nth-child(5) {
          top: 510px;
          left: 5px;
        }

        &:nth-child(6) {
          bottom: -120px;
          left: 190px;
        }
      }
    }
  }
} /* 650 */

@media screen and (max-width: 649px) {
  .roadmap_wrapper {
    .roadmap_image {
      width: 78%;

      .roadmap_mobile {
        display: block !important;
        text-align: center;
      }
      .roadmap_text {
        width: 42%;
        &:nth-child(3) {
          top: 50px;
          left: 190px;
        }

        &:nth-child(4) {
          top: 330px;
          left: 195px;
        }

        &:nth-child(5) {
          top: 400px;
          left: -20px;
        }

        &:nth-child(6) {
          bottom: -140px;
          left: 130px;
        }
      }
    }
  }
} /* 480 */

@media screen and (max-width: 479px) {
  .roadmap_wrapper {
    width: 100%;
    .roadmap_container {
      padding: 0px !important;
    }
    .roadmap_image {
      width: 100%;

      .roadmap_mobile {
        display: block !important;
        text-align: center;
      }
      .roadmap_text {
        width: 70%;
        p {
          font-family: 'Rubik', sans-serif;
          &:nth-child(1) {
            font-size: 13px;
            line-height: 0px;
          }

          &:nth-child(2) {
            font-size: 10px;
          }
        }
        &:nth-child(3) {
          top: 70px;
          left: 137px;
        }

        &:nth-child(4) {
          top: 265px;
          left: 137px;
        }

        &:nth-child(5) {
          top: 320px;
          left: -45px;
        }

        &:nth-child(6) {
          bottom: -85px;
          left: 105px;
        }
      }
    }
  }
} /* 375 */

@media screen and (max-width: 374px) {
  .roadmap_wrapper {
    .roadmap_image {
      .roadmap_mobile {
        display: block !important;
        text-align: center;
      }
      .roadmap_text {
        width: 65%;
        p {
          font-family: 'Rubik', sans-serif;
          &:nth-child(1) {
            font-size: 10px;
            line-height: 0px;
          }

          &:nth-child(2) {
            font-size: 8px;
          }
        }
        &:nth-child(3) {
          top: 50px;
          left: 115px;
        }

        &:nth-child(4) {
          top: 220px;
          left: 120px;
        }

        &:nth-child(5) {
          top: 265px;
          left: -30px;
        }

        &:nth-child(6) {
          bottom: -75px;
          left: 90px;
        }
      }
    }
  }
} /* 320 */
