@import '../../../../../styles/typography.module';
.admin_sidebar_wrap {
  min-height: 120vh;
  padding: 10% 10% 55% 10%;
  background: rgba(255, 255, 255, 0.03);
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  .sidebar_open_btn {
    display: none;
  }
  .logo_wrap {
    @include heading_9;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: start;
    margin-bottom: 70px;
  }
  .navigation_wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    a {
      margin-left: 10px;
      @include heading_11;
      font-size: 13px;
      text-decoration: none;
      text-align: start;
      color: rgba(184, 184, 184, 0.9);
      vertical-align: bottom;
      &:focus {
        color: white;
      }
      &:hover {
        color: white;
      }
    }
    .dropdown_btn {
      margin-left: 10px;
      @include heading_11;
      font-size: 13px;
      text-decoration: none;
      text-align: start;
      color: rgba(184, 184, 184, 0.9);
      vertical-align: bottom;
      cursor: pointer;
      &:focus {
        color: white;
      }
      &::after {
        content: '';
        background: url('../../../../../public/assets/images/dropdown_down-icon.svg');
        margin-left: 10px;
        background-position: center center;
        background-size: contain;
        color: white;
        padding: 6px;
        background-repeat: no-repeat;
      }
    }
    .dropdown_wrap {
      margin-left: 10px;
      @include heading_11;
      font-size: 13px;
      text-decoration: none;
      text-align: start;
      color: rgba(184, 184, 184, 0.9);
      vertical-align: bottom;
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-top: 20px;
      gap: 17px;
      a {
        &:focus {
          color: white;
        }
      }
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .openSideBar {
    left: 0 !important;
  }
  .admin_sidebar_wrap {
    left: -271px;
    background-color: #05052c;
    position: absolute;
    padding: 10% 8% 5% 4%;
    min-height: 107vh;
    z-index: 99;
    .openSideBar {
      left: 0 !important;
    }
    .sidebar_open_btn {
      position: absolute;
      border: 2px white solid;
      background: transparent;
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      right: 20px;
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
