.srt_btn {
  width: 100%;
  color: #ffffff;
  padding: 7px;
  font-size: 14px;
  border: none;
  border-color: hsl(0, 0%, 80%);
  background: transparent;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-right: 10px !important;
  }
}
