.home_wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 550px;
}
.home_page {
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .home_details {
    width: 50%;
    .home_wallet_btn {
      background: linear-gradient(141.07deg, #faff00 -6.88%, #fe19c1 50.39%);
      border-radius: 268px;
      border: none;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */
      color: white;
      width: 100px;
      padding: 6px;
    }
    h1 {
      background: linear-gradient(266.54deg, #ff00d6 4.51%, #faff00 98.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 90px;
    }
    h4 {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 30px;
      color: #ffffff;
    }
    p {
      width: 90%;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin-top: 40px;
      // line-height: 30px;
      /* or 180% */

      color: #efefef;
    }
  }
  .home_images {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 50%;
  }
}

@media screen and (max-width: 980px) {

  .home_wrp{

    margin-bottom: 470px;
    .home_page {
      height: auto;
      flex-direction: column;
      .home_details {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 480px) {
  .home_page {
    flex-direction: column;
    .home_details {
      width: 100%;
      text-align: center;
      h1 {
        font-size: 30px;
      }
      h4 {
        font-size: 21px;
      }
    }
  }
}
