.coming_soon {
  background: white;
  background-image: url('.../../../../../../public/assets/images/ASTROON-COMING-SOON.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}

.astroon_soon {
  background: white;
  background-image: url('.../../../../../../public/assets/images/ASTROON-SOON (1).svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
