@import '../../../styles/typography.module';
.general_information_wrap {
  padding: 3%;
  display: flex;
  flex-direction: column;
  .header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    .header_left {
      display: flex;
      align-items: center;
    }
    h3 {
      display: inline;
      color: #ffff;
      margin-left: 10px;
      @include heading-12;
      margin-bottom: 0px;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    .flex_box_item {
      width: 30%;
    }
  }
  .footer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
}
