@import '../../../styles/typography.module';
.general_information_wrap {
  padding: 3%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  .header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    .header_left {
      display: flex;
      align-items: center;
    }
    h3 {
      display: inline;
      color: #ffff;
      margin-left: 10px;
      @include heading-12;
      margin-bottom: 0px;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    .flex_box_item {
      width: 30%;
    }
  }
  .footer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .general_information_wrap {
    margin-top: 20px;
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
  .general_information_wrap {
    .body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .flex_box_item {
        width: 80%;
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
