.nft_slider_home {
  margin-top: 245px;
  overflow: hidden;

  .nft_slider_top {
    margin-left: -60px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px 320px;
    grid-template-rows: 320px;
  }
  .nft_slider_buttom {
    margin-left: -25px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px 320px;
    grid-template-rows: 320px;
  }
}
