.ast_heading_back {
  background-image: url('../../../../public/assets/images/AST-page-heading-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 39px;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.2);
}
