.form_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .input_wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media only screen and (max-width: 479px) {
  .form_wrap {
    .input_wrap {
      flex-direction: column;
    }
  }
} /* 375 */
