@import '../../../styles/typography.module';
.forgot_password_wrap {
  height: 100vh;
  width: 100%;
  background-image: url('../../../public/assets/images/forgot-password-page-background.svg');
  background-color: #030220;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  .left_wrap {
    padding: 8% 9%;
    width: 50%;
    h1 {
      @include heading_2;
      text-align: left;
      font-weight: 600;
    }
    p {
      color: #efefef;
      margin-top: 25px;
    }
    .form_wrap {
      margin-top: 70px;
      display: flex;
      gap: 40px;
      flex-direction: column;
      .name_wrap {
        display: flex;
        gap: 25px;
        .fist_name {
          width: 50%;
        }
        .last_name {
          width: 50%;
        }
      }
    }
    .btn_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0px;
      button:not(:disabled) {
        cursor: pointer;
        width: 100%;
      }
    }
    .not_member_yet {
      @include heading_8;
      text-align: center;
      font-family: 'SF Pro Display', sans-serif;
      cursor: pointer;
      a {
        color: #faff00;
        margin-left: 10px;
      }
    }
  }
  .right_wrap {
    width: 50%;
    padding: 4% 8%;
  }
}
@media only screen and (max-width: 1199px) {
  .forgot_password_wrap {
    .left_wrap {
      padding: 18.5% 6%;
      h1 {
        font-size: 31px;
      }
      p {
        margin-top: 20px;
      }
      .form_wrap {
        margin-top: 35px;
      }
      .not_member_yet {
        line-height: 0px;
      }
    }
    .right_wrap {
      padding: 17% 9%;
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .forgot_password_wrap {
    .left_wrap {
      padding: 16% 9%;
      h1 {
        font-size: 29px;
      }
      p {
        margin-top: 10px;
        font-size: 15px;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .not_member_yet {
        line-height: 0px;
        font-size: 15px;
      }
    }
    .right_wrap {
      padding: 13% 9%;
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .forgot_password_wrap {
    align-items: center;
    flex-direction: column;
    height: 100%;
    .left_wrap {
      width: 100%;
      padding: 6% 9%;
      h1 {
        font-size: 22px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .btn_wrap {
        text-align: center;
        button:not(:disabled) {
          width: 33%;
          font-size: 12px;
        }
      }
      .not_member_yet {
        font-size: 15px;
      }
    }
    .right_wrap {
      padding: 0% 0%;
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .forgot_password_wrap {
    .left_wrap {
      h1 {
        font-size: 22px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        font-size: 15px;
        text-align: center;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .btn_wrap {
        text-align: center;
        button:not(:disabled) {
          width: 33%;
          font-size: 12px;
        }
      }
      .not_member_yet {
        font-size: 13px;
      }
    }
    .right_wrap {
      padding: 0% 0%;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .forgot_password_wrap {
    .left_wrap {
      h1 {
        font-size: 18px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        font-size: 13px;
        text-align: center;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .btn_wrap {
        text-align: center;
        button:not(:disabled) {
          width: 38%;
          font-size: 12px;
        }
      }
      .not_member_yet {
        font-size: 12px;
      }
    }
    .right_wrap {
      padding: 0% 0%;
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .forgot_password_wrap {
    .left_wrap {
      h1 {
        font-size: 13px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        font-size: 10px;
        text-align: center;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .btn_wrap {
        text-align: center;
        button:not(:disabled) {
          width: 38%;
          font-size: 12px;
        }
      }
      .not_member_yet {
        font-size: 12px;
      }
    }
    .right_wrap {
      padding: 0% 0%;
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .forgot_password_wrap {
    .left_wrap {
      h1 {
        font-size: 13px;
        text-align: center;
      }
      p {
        margin-top: 0px;
        font-size: 10px;
        text-align: center;
      }
      .form_wrap {
        margin-top: 25px;
      }
      .btn_wrap {
        text-align: center;
        button:not(:disabled) {
          width: 43%;
          font-size: 12px;
        }
      }
      .not_member_yet {
        font-size: 12px;
      }
    }
    .right_wrap {
      padding: 0% 0%;
    }
  }
} /* 320 */
