@import '../../../../styles/typography.module';

.modal_content {
  width: 100%;
  margin: 0 auto;
  padding: 0% 11% 7% 11%;

  .bg_image {
    color: white;
    padding-bottom: 41px;
    text-align: center;
    font-family: 'Rubik';

    p {
      margin-top: 0px;
      font-size: 18px;
      font-weight: 600;
    }
    h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 38px;
      font-family: 'Rubik';
    }
  }

  .input_wrap {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .description {
      height: 30%;
    }
    .contact_text_area {
      width: 100%;
      background: transparent;
      outline: none;
      font-size: 13px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
      border-radius: 4px;
      padding: 12px;
    }
  }
  .dialog_footer {
    text-align: center;
    margin-top: 20px;
    .dialog_left_btn {
      background: transparent;
      padding: 10px;
      padding: 7px 39px;
      border: 1px solid #ffffff;
      border-radius: 268px;
      @include heading_7;
    }
    .dialog_right_btn {
      background: #ffffff;
      padding: 10px;
      padding: 7px 39px;
      border: 1px solid #ffffff;
      border-radius: 268px;
      @include heading_7;
      color: #020039;
    }
    .cancel_btn {
      margin-right: 30px;
      background: transparent;
      padding: 10px;
      padding: 7px 39px;
      border: 1px solid #ffffff;
      border-radius: 268px;
      @include heading_7;
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 70%;
      }
      .dialog_footer {
        text-align: center;
      }
    }
    right: 25px;
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 65%;
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 75%;
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 80%;
      }
    }
    right: 40px;
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 100%;
      }
      .dialog_footer {
        text-align: center;
        .cancel_btn {
          margin: 10px;
        }
      }
    }
    right: 65px;
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 100%;
      }
    }
    right: 75px;
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .dialogbox_wrap {
    .modal_content {
      .input_wrap {
        width: 100%;
      }
    }
    right: 75px;
  }
} /* 320 */
