@import '../../../../styles/typography.module';
.card_wrap {
  background: linear-gradient(
    181.02deg,
    rgba(162, 70, 211, 0) 90.89%,
    #a246d3 99.12%
  );
  width: 251px;
  height: 315px;
  border-radius: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  .card_img_wrap {
    width: 100%;
    position: relative;
    border-radius: 25px;
    height: 140px;
    // background-image: url('../../../../public/images/card_back.svg');
    // background-position: center center;
    // background-size: cover;
    position: relative;
    .backgroud_card {
      position: absolute;
      left: -37px;
      top: -78px;
    }
    .img_card {
      position: absolute !important;
      top: -102px;
    }
  }

  h4 {
    @include heading_4;
    text-align: center;
    margin: 23px 0px 9px 0px;
    font-family: 'Rubik', sans-serif;
  }
  p {
    @include heading_6;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 35px;
  }
}
