@import '../../../../styles/typography.module';
.card_wrap {
  background: linear-gradient(
    181.02deg,
    rgba(162, 70, 211, 0) 90.89%,
    #a246d3 99.12%
  );
  width: 308px;
  height: 384px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  .card_img_wrap {
    width: 100%;
    position: relative;
    border-radius: 25px;
    height: 140px;
    // background-image: url('../../../../public/images/card_back.svg');
    // background-position: center center;
    // background-size: cover;
    position: relative;
    .backgroud_card {
      position: absolute;
      left: -58px;
      top: -91px;
    }
    .img_card {
      position: absolute !important;
      top: -147px;
      left: -9px;
    }
  }

  h4 {
    @include heading_4;
    text-align: center;
    margin: 23px 0px 9px 0px;
    font-family: 'Rubik', sans-serif;
  }
  p {
    @include heading_6;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1199px) {
  .card_wrap {
    width: 255px;
    .card_img_wrap {
      .backgroud_card {
        left: -53px;
        span {
          width: 356px !important;
        }
      }
      .img_card {
        top: -145px;
        left: -10px;
        span {
          width: 272px !important;
        }
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
  .card_wrap {
    width: 255px;
    .card_img_wrap {
      .backgroud_card {
        left: -51px;
        top: -90px;
        span {
          width: 355px !important;
        }
      }
      .img_card {
        top: -145px;
        left: -10px;
        span {
          width: 272px !important;
        }
      }
    }
  }
} /* 320 */
