@import '../../../../styles/typography.module';
.astroon_products_wrap {
  width: 100%;
  border-radius: 20px;
  margin-top: 200px;
  height: 500px;
  padding: 0px 23%;
  .astroon_products_heading {
    @include heading_2;
    text-align: center;
    font-family: 'Roboto Slab';
    margin-bottom: 80px;
  }
  .products_content_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    .card_wrap {
      background: url('../../../../public/assets/images/nft_management.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        @include heading_9;
        margin: 0px;
      }
    }
  }
}
