@import '../../../../styles/typography.module';
.blog_card_wrap {
  background: linear-gradient(
    181.02deg,
    rgba(162, 70, 211, 0) 90.89%,
    #a246d3 99.12%
  );
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  .blog_card_img_wrap {
    width: 100%;
    border-radius: 25px;
    span {
      border-radius: inherit;
    }
  }
  .blog_card_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 6%;
    margin: 20px 0px 45px 0px;
    height: 75px;
    h4 {
      @include heading_4;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
    }
    p {
      @include heading_6;
      font-family: 'Rubik', sans-serif;
    }
  }
}

@media only screen and (max-width: 1199px) {
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .blog_card_wrap {
    .blog_card_img_wrap {
      span {
        border-radius: inherit;
      }
    }
    .blog_card_text {
      h4 {
      }
      p {
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
} /* 768 */
@media only screen and (max-width: 767px) {
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
