.layout_wrap {
  background-color: #030220;
  background-image: url('../../../public/images/home_background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
