.layout_wrapper{
    background: url('../../../images/background.jpeg'), linear-gradient(142.61deg, #030220 21.66%, #020039 66.83%, rgba(255, 27, 194, 0) 89.74%);
    min-height: 43.4rem;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
}