.layout_wrapper {
    background-image: url('../../../images/background.jpeg'),
      linear-gradient(
        142.61deg,
        #0e087462 21.66%,
        #130d88c2 66.83%,
        rgba(255, 27, 194, 0) 89.74%
      ),linear-gradient(
        202.61deg,
        #0e087462 13.66%,
        #130d88c2 54.83%,
        rgba(255, 27, 194, 0) 95.74%
      ),linear-gradient(
        251.61deg,
        #0e087462 16.66%,
        #130d88c2 95.83%,
        rgba(255, 27, 194, 0) 120.74%
      );
//   background-image: url('../../../images/background.jpeg'),
//     linear-gradient(
//       142.61deg,
//       #030220 21.66%,
//       #020039 66.83%,
//       rgba(255, 27, 194, 0) 89.74%
//     );

  width: 100%;
  // height: 500rem;
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-blend-mode: multiply;
}
