.whitepaper_wrp {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-260px);
  .whitepaper_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .whitepaper_btn {
      background: linear-gradient(141.07deg, #faff00 -6.88%, #fe19c1 50.39%);
      border-radius: 268px;
      border: none;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */
      color: white;
      width: 100px;
      padding: 5px;
    }
    h1 {
      font-family: 'Roboto Slab';
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 80px;
      /* identical to box height, or 188% */

      text-align: center;

      color: #ffffff;
    }
    p {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      color: #efefef;
    }
  }
}
