@import '../../../styles/typography.module';

.blog_wrap {
  margin-top: 20px;
  .main_heading {
    padding: 50px;
    @include heading_2;
  }
  .blog_main_wrap {
    margin-top: 30px;
    .blog_list_wrap {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      grid-column-gap: 80px;
      grid-row-gap: 35px;
    }
    .data_not_found {
      color: #fff;
      text-align: center;
    }
    .item_center {
      display: flex;
      height: 80vh;
      justify-content: center;
      align-items: center;
    }
  }

  .card_navigation_btn {
    margin: 130px 0px 130px 0px;
    text-align: center;
    .disabled_btn {
      background: rgba(162, 70, 211, 0.3);
      border-radius: 8px;
      padding: 6px 24px;
      outline: none;
      border: none;
      margin-right: 18px;
    }
    .enable_btn {
      background: #7d13b6;
      border-radius: 8px;
      padding: 6px 24px;
      outline: none;
      border: none;
      margin-right: 18px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .blog_wrap {
    .blog_main_wrap {
      .blog_list_wrap {
        grid-column-gap: 60px;
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .blog_wrap {
    max-width: 870px;
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .blog_wrap {
    max-width: 670px;
    .blog_main_wrap {
      .blog_list_wrap {
        grid-column-gap: 30px;
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .blog_wrap {
    max-width: 670px;
    .blog_main_wrap {
      .blog_list_wrap {
        grid-template-columns: 40% 40%;
        grid-template-rows: 30% 30% 30%;
        align-items: center;
        justify-content: center;
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
} /* 480 */
@media only screen and (max-width: 479px) {
  .blog_wrap {
    .blog_main_wrap {
      .blog_list_wrap {
        grid-template-columns: 90%;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
        align-items: center;
        justify-content: center;
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
