$fontsize: 12px;
@import '../../../../../styles/typography.module';
.header_wrapper {
  padding: 20px 0px;
  background-image: url('../../../../../public/assets/images/stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .active {
    font-weight: 700 !important;
  }
  .wallet_connect_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wallet_connect_modal_icon_wrap {
      display: flex;
      flex-direction: column;
      border: 0.5px solid #ffffff;
      border-radius: 15px;
      width: 30%;
      padding: 20px 7px;
      margin-bottom: 20px;
      span {
        font-size: 12px;
        font-family: 'mont regular';
        margin-top: 10px;
      }
    }
    .wallet_connect_modal_btn {
      @include heading_7;
      background: #ffffff;
      font-family: 'mont regular';
      border-radius: 268px;
      border: none;
      padding: 8px 25px;
      color: #020039;
    }
  }
}
