$fontsize: 12px;
@import '../../../../../styles/typography.module';
.header_wrapper {
  font-family: 'Rubik', sans-serif;
  width: 88%;
  margin: 0 auto;
  padding: 10px 0;
  nav {
    div {
      .logo {
        font-size: 24px;
        font-weight: 500;
      }

      .nav_toggeler {
        &:focus,
        &:hover {
          box-shadow: 0 0 0 2px #fff;
        }
      }
    }

    .nav_items {
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 35px;
      li {
        a {
          font-size: $fontsize;
          font-weight: 400;
          padding: 0 !important;
        }
        a: active {
          font-weight: 600;
        }

        &:nth-child(10) {
          .header_search {
            height: auto;
            width: 12px;
            display: flex;
          }
        }
      }
    }
  }

  .wallet_connect_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wallet_connect_modal_icon_wrap {
      display: flex;
      flex-direction: column;
      border: 0.5px solid #ffffff;
      border-radius: 15px;
      width: 30%;
      padding: 20px 7px;
      margin-bottom: 20px;
      span {
        margin-top: 10px;
      }
    }
    .wallet_connect_modal_btn {
      @include heading_7;
      background: #ffffff;
      border-radius: 268px;
      border: none;
      padding: 8px 25px;
      color: #020039;
    }
  }
}

@media screen and (max-width: 992px) {
  $fontsize: 16px;

  .open_nav {
    background: linear-gradient(
      142.61deg,
      #0d0874cb 21.66%,
      #130d88d7 66.83%,
      rgba(255, 27, 194, 0) 89.74%
    );
    transition: 1s ease;
    height: auto;
  }
  .header_wrapper {
    width: 100%;
    nav {
      .nav_items_wrapper {
        .nav_items {
          li {
            a {
              font-size: $fontsize;
            }

            &:nth-child(10) {
              .header_search {
                width: 16px;
              }
            }

            &:last-child {
              .header_wallet_btn {
                font-size: $fontsize;
                padding: 18px 30px;
                width: 200px;

                &::before {
                  width: 99%;
                  height: 96%;
                  padding: 0 25px 0 0;
                }
                span {
                  width: 16px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
