@import '../../../../styles/typography.module';
.table_wrap {
  border-radius: 15px;
  color: #fff;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #050430;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #001764;
  }
  // .scroll_wrap {

  .spinner_wrap {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  table {
    thead {
      tr {
        border-color: unset;
        border-style: none;
        border-width: 0;
        border-bottom: 1px solid gray;
        th {
          @include heading_7;
          color: rgba(255, 255, 255, 0.9);
          font-family: 'Rubik';
          padding: 26px 20px;
          border-bottom: none;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid gray;
        th {
          @include heading_7;
          color: rgba(255, 255, 255, 0.9);
          font-family: 'Rubik';
          padding: 26px 20px;
          font-weight: 400;
          font-size: 13px;
        }
        td {
          @include heading_7;
          color: rgba(255, 255, 255, 0.9);
          font-family: 'Rubik';
          padding: 26px 20px;
          font-weight: 400;
          font-size: 13px;
          & [data-testid='table_profile_image'] {
            border-radius: 50%;
          }
          .active {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            :nth-child(1) {
              background: rgba(36, 255, 0, 0.8980392157);
              border-radius: 50%;
              width: 4px;
              height: 4px;
            }
            :nth-child(2) {
              color: rgba(36, 255, 0, 0.8980392157);
              margin-left: 5px;
            }
          }
          .inactive {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            :nth-child(1) {
              background: #ff0000;
              border-radius: 50%;
              width: 4px;
              height: 4px;
            }
            :nth-child(2) {
              color: #ff0000;
              margin-left: 5px;
            }
          }
          span {
            margin-left: 5px;
          }
        }
      }
    }
  }
  .reward_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    .headings {
      margin: 20px 0;
      h5 {
        font-size: 16px;
        line-height: 25px;
        span {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}
// }
