@import '../../../../styles/typography.module';
.nft_card_wrap {
  .nft_card_heading {
    @include heading_2;
    text-align: center;
    margin: 60px;
    font-family: 'Roboto Slab';
  }

  .nft_cards_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .nft_card_navigation_btn {
    margin: 55px 0px 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back_btn {
      background: rgba(162, 70, 211, 0.3);
      border-radius: 8px;
      padding: 10px 34px;
      outline: none;
      border: none;
      height: 100%;
      opacity: 50%;
    }
    .forword_btn {
      height: 100%;
      background: #7d13b6;
      border-radius: 8px;
      padding: 10px 34px;
      outline: none;
      border: none;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .nft_card_wrap {
    padding: 0px;
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .nft_card_wrap {
    padding: 0px;
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .nft_card_wrap {
    padding: 0px;
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .nft_card_wrap {
    padding: 0px;
    .nft_card_navigation_btn {
      margin: 45px 0px 55px 0px;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .nft_card_wrap {
    padding: 0px;
    .nft_card_navigation_btn {
      margin: 45px 15px 40px 15px;
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .nft_card_wrap {
    padding: 0px;
    .nft_card_navigation_btn {
      margin: 45px 5px 40px 5px;
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .nft_card_wrap {
    padding: 0px;
    .nft_card_navigation_btn {
      margin: 30px -4px 30px -4px;
    }
  }
} /* 320 */
