.nftCard_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  span {
    border-radius: 30px;
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .nftCard_wrap {
    padding: 20px;
    span {
      height: 230px !important;
      border-radius: 20px;
    }
  }
} /* 1024 */

@media only screen and (max-width: 1023px) {
  .nftCard_wrap {
    span {
      height: 200px !important;
    }
  }
} /* 980 */

@media only screen and (max-width: 979px) {
  .nftCard_wrap {
    span {
      height: 165px !important;
    }
  }
} /* 768 */

@media only screen and (max-width: 767px) {
  .nftCard_wrap {
    padding: 15px;
    span {
      height: 150px !important;
      border-radius: 15px;
    }
  }
} /* 650 */

@media only screen and (max-width: 649px) {
  .nftCard_wrap {
    padding: 10px;
    span {
      height: 100px !important;
      border-radius: 10px;
    }
  }
} /* 480 */

@media only screen and (max-width: 479px) {
  .nftCard_wrap {
    padding: 10px;
    span {
      height: 80px !important;
      border-radius: 10px;
    }
  }
} /* 375 */

@media only screen and (max-width: 374px) {
  .nftCard_wrap {
    padding: 10px;
    span {
      height: 60px !important;
      border-radius: 8px;
    }
  }
} /* 320 */
