.nftCard_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  .nftCard {
    span {
      border-radius: 30px;
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .nftCard_wrap {
    padding: 20px;
    .nftCard {
      width: 100%;
      span {
        width: 100% !important;
        height: 230px !important;
        border-radius: 20px;
      }
    }
  }
} /* 1024 */

@media only screen and (max-width: 1023px) {
  .nftCard_wrap {
    .nftCard {
      span {
        height: 200px !important;
      }
    }
  }
} /* 980 */

@media only screen and (max-width: 979px) {
  .nftCard_wrap {
    .nftCard {
      span {
        height: 165px !important;
      }
    }
  }
} /* 768 */

@media only screen and (max-width: 767px) {
  .nftCard_wrap {
    padding: 15px;
    .nftCard {
      span {
        height: 150px !important;
        border-radius: 15px;
      }
    }
  }
} /* 650 */

@media only screen and (max-width: 649px) {
  .nftCard_wrap {
    padding: 10px;
    .nftCard {
      span {
        height: 100px !important;
        border-radius: 10px;
      }
    }
  }
} /* 480 */

@media only screen and (max-width: 479px) {
  .nftCard_wrap {
    padding: 10px;
    .nftCard {
      span {
        height: 80px !important;
        border-radius: 10px;
      }
    }
  }
} /* 375 */

@media only screen and (max-width: 374px) {
  .nftCard_wrap {
    padding: 10px;
    .nftCard {
      span {
        height: 60px !important;
        border-radius: 8px;
      }
    }
  }
} /* 320 */
