$fontsize: 12px;

.normal_btn {
  background: linear-gradient(141.07deg, #faff00 -6.88%, #fe19c1 50.39%);
  border-radius: 268px;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: white;
  padding: 11px 37px;
  cursor: pointer;
}
.download_btn {
  background: linear-gradient(141.07deg, #faff00 -6.88%, #fe19c1 50.39%);
  border-radius: 268px;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: white;
  padding: 11px 27px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.wallet_connect_btn {
  color: #fff;
  font-size: $fontsize;
  padding: 18px 35px;
  display: flex;
  background: linear-gradient(182.32deg, #faff00 18.76%, #fe19c1 98.05%);
  border: 0;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  width: 170px;
  cursor: pointer;

  &::before {
    content: attr(data-content);
    font-weight: 500;
    position: absolute;
    border-radius: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 96%;
    background-color: #050523;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px 0 0;
  }
  span {
    width: 12px !important;
    height: auto !important;
    margin: 0 5px 0 0 !important;
  }
}

@media only screen and (max-width: 479px) {
  .normal_btn {
    padding: 8px 23px;
    font-size: 13px;
  }
  .download_btn {
    padding: 8px 23px;
    font-size: 13px;
  }
  .wallet_connect_btn {
    padding: 8px 23px;
    font-size: 13px;
  }
} /* 375 */
@media only screen and (max-width: 374px) {
} /* 320 */
