@import '../../../styles/typography.module';
.blog_detail_wrap {
  margin-top: 50px;
  .blog_heading {
    @include heading_2;
  }
  .blog_date {
    @include heading_11;
    color: #d9d9d9;
  }
  .blog_content {
    padding: 0px 16%;
    p {
      color: white;
    }
  }
}
