@import '../../../styles/typography.module';
.blog_detail_wrap {
  margin-top: 50px;
  min-height: 100vh;
  img {
    width: 100%;
    object-fit: contain;
  }
  .blog_heading {
    @include heading_2;
  }
  .blog_date {
    @include heading_11;
    color: #d9d9d9;
  }
  .blog_content {
    img {
      width: 100%;
      object-fit: contain;
    }
    padding: 0px 16%;
    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 767px) {
  .blog_detail_wrap {
    .blog_content {
      img {
        width: 100%;
        object-fit: contain;
      }
      padding: 0px 0%;
      p {
        color: white;
      }
    }
  }
} /* 650 */
