.content_management_wrap {
  padding: 3% 3% 3% 3%;
  .top_bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: end;
    .top_bar_left {
      width: 50%;
      display: flex;
      align-items: center;
    }
    .top_bar_right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      .filter_wrap {
        width: 25%;
      }
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .content_management_wrap {
    .top_bar {
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      .top_bar_left {
        width: 100%;
      }
      .top_bar_right {
        width: 100%;
        .filter_wrap {
          width: 20%;
        }
      }
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 17%;
        }
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 21%;
        }
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 25%;
        }
      }
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 35%;
        }
      }
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 37%;
        }
      }
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .content_management_wrap {
    .top_bar {
      .top_bar_right {
        .filter_wrap {
          width: 43%;
        }
      }
    }
  }
} /* 320 */
