@import '../../../../styles/typography.module';
.blog_wrap {
  .blog_heading {
    @include heading_2;
    text-align: center;
    margin: 60px;
    font-family: 'Roboto Slab';
  }
  .blog_cards_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
  }
  .view_all_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
  }
}

// 1024 -
@media only screen and (max-width: 1199px) {
  .blog_wrap {
    max-width: 973px !important;
    // .blog_heading {
    // }
    .blog_cards_wrap {
      gap: 30px;
    }
    // .view_all_btn {
    // }
  }
}
// 980 -
@media only screen and (max-width: 1023px) {
  .blog_wrap {
    max-width: 868px !important;
    // .blog_heading {
    // }
    .blog_cards_wrap {
      gap: 30px;
    }
    .view_all_btn {
    }
  }
}
// 768 -
@media only screen and (max-width: 979px) {
  .blog_wrap {
    max-width: 660px !important;
    .blog_cards_wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 29px;
      padding: 0px 20%;
    }
  }
}
// 650 -
@media only screen and (max-width: 767px) {
  .blog_wrap {
    max-width: 530px !important;
  }
}
// 480 -
@media only screen and (max-width: 649px) {
  .blog_wrap {
    max-width: 660px !important;
    .blog_cards_wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 29px;
      padding: 0px 10%;
    }
  }
}
// 375 -
@media only screen and (max-width: 479px) {
  .blog_wrap {
    max-width: 660px !important;
    .blog_cards_wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 29px;
      padding: 0px 5%;
    }
  }
}
