@import '../../../../styles/typography.module';
.input_wrap {
  width: 100%;
  position: relative;
  .corner_border_label {
    @include heading_7;
    position: absolute;
    top: -12px;
    left: 17px;
    top: -9px;
    left: 17px;
    padding: 0px 24px 0px 12px;
    line-height: 16px;
  }
  .corner_border {
    width: 100%;
    background: transparent;
    outline: none;
    border-left: 1px solid rgb(255, 255, 255, 0.3);
    border-right: 1px solid rgb(255, 255, 255, 0.3);
    border-top: none;
    border-bottom: none;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    padding: 12px 28px;

    &::placeholder {
      color: #ffffff;
      opacity: 0.5;
    }
  }
  .full_border {
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 13px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 4px;
    padding: 12px 28px;

    &::placeholder {
      color: #ffffff;
      opacity: 0.5;
    }
  }
}

// Responsive breakpoints
@media only screen and (max-width: 1199px) {
  .input_wrap {
    .corner_border_label {
      font-size: 12px;
    }
    .full_border {
    }
  }
} /* 1024 */
@media only screen and (max-width: 1023px) {
} /* 980 */
@media only screen and (max-width: 979px) {
  .input_wrap {
    .full_border {
      font-size: 13px;
    }
  }
} /* 768 */
@media only screen and (max-width: 767px) {
  .input_wrap {
    .corner_border_label {
      font-size: 11px;
    }
    .full_border {
      font-size: 11px;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .input_wrap {
    .corner_border_label {
      font-size: 12px;
    }
    .full_border {
      font-size: 11px;
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .input_wrap {
    .corner_border_label {
      font-size: 10px;
    }
    .full_border {
      font-size: 9px;
    }
  }
} /* 375 */
@media only screen and (max-width: 374px) {
  .input_wrap {
    .corner_border_label {
      font-size: 9px;
    }
    .full_border {
      font-size: 8px;
    }
  }
} /* 320 */
