@import '../../../../styles/typography.module';
.team_wrap {
  .team_heading {
    @include heading_2;
    text-align: center;
    margin: 80px;
    font-family: 'Roboto Slab';
  }
  .cards_wrap {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card_navigation_btn {
    margin: 50px auto;
    text-align: center;
    .back_btn {
      background: rgba(162, 70, 211, 0.3);
      border-radius: 8px;
      padding: 6px 24px;
      outline: none;
      border: none;
      margin-right: 18px;
    }
    .forword_btn {
      background: #7d13b6;
      border-radius: 8px;
      padding: 6px 24px;
      outline: none;
      border: none;
    }
  }
}
