.heading_1 {
  font-size: 72px;
  font-weight: 800;
  color: $text-01-color;
  line-height: 90px;
}
.heading_2 {
  font-size: 48px;
  font-weight: 700;
  color: $text-01-color;
  line-height: 90px;
}
.heading_2_1 {
  font-size: 48px;
  font-weight: 400;
  color: $text-01-color;
  line-height: 90px;
}
.heading_3 {
  font-size: 32px;
  font-weight: 700;
  color: $text-01-color;
  line-height: 36px;
}
.heading_4 {
  font-size: 28px;
  font-weight: 600;
  color: $text-01-color;
  line-height: 28px;
}

.heading_5 {
  font-size: 22px;
  font-weight: 500;
  color: $text-02-color;
  line-height: 28px;
}
.heading_6 {
  font-size: 20px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 36px;
}
.heading_7 {
  font-size: 18px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 30px;
}
.heading_8 {
  font-size: 16px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 18px;
}
.heading_8_1 {
  font-size: 16px;
  font-weight: 500;
  color: $text-02-color;
  line-height: 18px;
}
.heading_8_2 {
  font-size: 16px;
  font-weight: 600;
  color: $text-02-color;
  line-height: 18px;
}
