@import 'variables.module.scss';
@mixin heading_1 {
  font-size: 72px;
  font-weight: 800;
  color: $text-01-color;
  line-height: 90px;
}
<<<<<<< HEAD

// below css for home page section heading
=======
// below css for section heading
>>>>>>> d88f7eb5220404fab95ee6d04d782e8ca3b03273
@mixin heading_2 {
  font-size: 33px;
  font-weight: 800;
  color: $text-01-color;
  line-height: 35px;
  text-align: center;
  font-family: 'Roboto Slab';
}

@mixin heading_2_1 {
  font-size: 48px;
  font-weight: 400;
  color: $text-01-color;
  line-height: 90px;
}
@mixin heading_3 {
  font-size: 32px;
  font-weight: 700;
  color: $text-01-color;
  line-height: 36px;
}
@mixin heading_4 {
  font-size: 15px;
  font-weight: 600;
  color: $text-01-color;
  line-height: 17px;
}

@mixin heading_5 {
  font-size: 17px;
  font-weight: 600;
  color: $text-02-color;
  line-height: 23px;
}
@mixin heading_6 {
  font-size: 14px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 17px;
}
@mixin heading_7 {
  font-size: 14px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 25px;
}
@mixin heading_8 {
  font-size: 16px;
  font-weight: 400;
  color: $text-02-color;
  line-height: 18px;
}
@mixin heading_8_1 {
  font-size: 16px;
  font-weight: 500;
  color: $text-02-color;
  line-height: 18px;
}
@mixin heading_8_2 {
  font-size: 16px;
  font-weight: 600;
  color: $text-02-color;
  line-height: 18px;
}

// below css for ast page

@mixin heading_9 {
  font-size: 25px;
  font-weight: 700;
  color: $text-01-color;
  line-height: 30px;
  text-align: center;
  font-family: 'Roboto Slab';
  margin-bottom: 45px;
}

@mixin heading_10 {
  font-size: 85px;
  font-weight: 900;
  color: $text-01-color;
  line-height: 30px;
  text-align: center;
  font-family: 'Roboto Slab';
  margin-bottom: 40px;
}
@mixin heading_11 {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-weight: 400;
}
