@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;900&display=swap');
@import './typography.module';
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #050430;
    position: absolute;
    left: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #001764;
  }
}

// css for filter component

.filter_wrap {
  .css-b62m3t-container {
    .css-1s2u09g-control,
    .css-1pahdxg-control {
      background: transparent;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: unset !important;
      border-color: hsl(0, 0%, 70%);
      &:hover {
        border-color: hsl(0, 0%, 70%);
        box-shadow: unset !important;
      }
      .css-319lph-ValueContainer {
        color: #fff;
        font-size: 14px;
        .css-qc6sy-singleValue {
          color: white;
          text-align: center;
        }
        .css-14el2xx-placeholder {
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            color: #fff;
          }
        }
      }
    }
    .css-26l3qy-menu {
      display: block;
      width: 150% !important;
    }
  }
}

// css for form input selector
.form_select_wrap {
  width: 100%;
  position: relative;
  label {
    @include heading_7;
    position: absolute;
    top: -9px;
    left: 20px;
    z-index: 2;
  }
  .css-b62m3t-container {
    .css-1s2u09g-control,
    .css-lpahdxg-control {
      background: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      outline: none;
      border: 1px solid rgb(255, 255, 255, 0.3);
      color: #fff;
      border-radius: 4px;
      padding: 12px;

      &::placeholder {
        color: #ffffff;
        opacity: 0.5;
      }
      .css-319lph-ValueContainer {
        color: #fff;
        font-size: 14px;
        text-align-last: left;
        .css-1pndypt-Input {
          color: white;
        }
        .css-14el2xx-placeholder {
          color: white !important;
        }
        .css-qc6sy-singleValue {
          color: white;
          text-align: center;
        }
        .css-14el2xx-placeholder {
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            color: #fff;
          }
        }
      }
      .css-1hb7zxy-IndicatorsContainer {
        .css-1okebmr-indicatorSeparator {
          background-color: unset;
        }
      }
    }
    .css-1s2u09g-control {
      .css-1d8n9bt {
        .css-qc6sy-singleValue {
          color: white !important;
        }
        .css-14el2xx-placeholder {
          color: hsl(0deg 0% 100% / 51%);
        }
      }
    }
    .css-1pahdxg-control {
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      outline: none;
      border: 1px solid rgb(255, 255, 255, 0.3);
      color: #fff;
      border-radius: 4px;
      padding: 12px;

      &::placeholder {
        color: #ffffff;
        opacity: 0.5;
      }
      .css-319lph-ValueContainer {
        color: #fff;
        font-size: 14px;
        .css-1pndypt-Input {
          color: white;
        }
      }
      .css-14el2xx-placeholder {
        color: white !important;
      }
      .css-qc6sy-singleValue {
        color: white;
        text-align: left;
      }
      .css-14el2xx-placeholder {
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
          color: #fff;
        }
      }
    }
    .css-26l3qy-menu {
      display: block;
      width: 100% !important;
      z-index: 6;
    }
  }
}

// custom css for CKEditor

.ck-editor {
  .ck-editor__main {
    .ck-content {
      height: 240px;
    }
  }
}

:root {
  --ck-color-base-background: #030732 !important;
  --ck-color-base-text: #fff !important;
  --ck-color-button-default-hover-background: #6a6969 !important;
}

/* contactUs modal css */
.modal-backdrop.show {
  opacity: 0.7;
}
.contact_form_modal {
  .modal-content {
    background-image: url('../public/assets/images/request-pop-up-back.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-color: transparent;
  }
  .modal-header {
    border-bottom: unset;
  }
  .modal-body {
    flex: 0;
    padding: 0 !important;
  }
  .modal-dialog {
    transition: unset !important;
    transform: none !important;
  }
}

// css for user header

.user_header_wrap {
  .navbar {
    padding: 0px;
    .container {
      .navbar-brand {
        font-size: 24px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
      .navbar-toggler {
        border-color: white;
        color: white;
      }

      .items_wrap {
        .navbar-nav {
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          gap: 30px;
          a {
            color: #efefef;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            &:focus {
              font-weight: 500;
              color: white;
            }
          }
          div {
            color: #efefef;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    .navbar {
      .container {
        .items_wrap {
          .navbar-nav {
            align-items: center;
          }
        }
      }
    }
  } /* 980 */
}

// css for video thumbnail package
.react-thumbnail-generator {
  position: absolute;
  top: 0;
  img {
    object-fit: contain;
    border-radius: 30px;
    width: 100%;
  }
}
//css for profile
.profile_dropdown {
  .dropdown-toggle {
    background-color: transparent !important;
    border: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 77px;
    &:focus {
      box-shadow: unset !important;
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
  .dropdown-menu {
    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 14px;
      &:hover {
        color: #000;
        background-color: transparent;
      }
      span {
        margin-block-end: 8px;
      }
    }
  }
}

//  css for react slice Slider

.slick-slider {
  width: 100%;

  .slick-prev {
    top: 505px;
    left: 0px;
    background: transparent;
    height: 44px;
    width: 75px;
    &::before {
      content: '' !important;
    }
  }
  .slick-next {
    top: 502px;
    right: 0px;
    background: transparent;
    height: 44px;
    width: 75px;
    &::before {
      content: '' !important;
    }
  }
}

// css for user Profile dropdown in user header

.user_profile_dropdown {
  .dropdown {
    border: 1px solid #ffffff;
    border-radius: 30px;
    .dropdown-toggle {
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dropdown-menu {
      width: 135px;
      min-width: unset;
      left: unset;
      right: 0;
      top: 46px;
      background: #323154;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
      border-radius: 13px;
      position: absolute;
      a {
        .item_div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
        }
        &:hover {
          background: #cccccc26;
        }
      }
    }
  }
}

// content management card css

.content-management {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border-radius: 15px;
    border: unset;
  }
  .btn-primary {
    color: #fff;
    background-color: #020039;
    border-color: #020039;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 26px;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 700;
    line-height: 33.98px;
    &:hover {
      background-color: #020039;
      border-color: #020039;
    }
  }
  .card-body {
    padding: 0rem 0rem;
  }
}
@media only screen and (max-width: 767px) {
  .content-management {
    .btn-primary {
      margin: 0px 125px;
    }
  }
} /* 650 */
@media only screen and (max-width: 649px) {
  .content-management {
    .btn-primary {
      margin: 0px 45px;
    }
  }
} /* 480 */
@media only screen and (max-width: 479px) {
  .content-management {
    .btn-primary {
      margin: 0px 25px;
    }
  }
} /* 375 */
// css for token modal

.buy_token_modal_ast_page_bootstrap {
  .modal-dialog {
    .modal-content {
      padding: 3%;
      background: linear-gradient(
          0deg,
          rgba(254, 25, 193, 0.3),
          rgba(254, 25, 193, 0.3)
        ),
        url('../public/assets/images/dialogBackgorund.png'), #a04141;
      border-radius: 20px;
      overflow: hidden;
      border: 0px;
      .modal-header {
        display: unset;
        border-bottom: unset;
        .modal-title {
          @include heading_12;
        }
        .btn-close {
          position: absolute;
          right: 16px;
          top: 16px;
          font-size: 10px;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .buy_token_modal_ast_page_bootstrap {
    .modal-dialog {
      max-width: 805px;
    }
  }
} /* 980 */

// video-popup css
.video_popup {
  .modal-dialog {
    .modal-content {
      .modal-body {
        iframe {
          min-height: 300px;
        }
        span {
          width: 100% !important;
        }
      }
      .modal-header {
        border-bottom: unset;
      }
      background-color: 'transperent';
      background: linear-gradient(
          0deg,
          rgba(254, 25, 193, 0.3),
          rgba(254, 25, 193, 0.3)
        ),
        url('../public/assets/images/dialogBackgorund.png'), #a04141;
      border-radius: 20px;
      overflow: hidden;
    }
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

// for loading
.no_scroll_forLoading {
  overflow: hidden;
  height: 100%;
}

// css for edit sale details modal

.edit_sale_details_modal {
  padding: 0 !important;
  .modal-content {
    background: url('../public/assets/images/dialogBackgorund.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    object-fit: cover;
    background-position: center;
    background-size: 110% 100%;
    padding: 2% 6%;
    .modal-header {
      display: unset;
      border-bottom: unset;
      .modal-title {
        @include heading_12;
      }
      .btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 10px;
        color: #fff;
      }
    }
    .modal-footer {
      border: none;
      justify-content: center;
    }
  }
}

// css for claim modal

.claim_token_modal {
  padding: 0 !important;
  .modal-content {
    background: url('../public/assets/images/dialogBackgorund.png');
    background-repeat: no-repeat;
    border-radius: 25px;
    object-fit: cover;
    background-position: center;
    background-size: 110% 100%;
    padding: 2% 0%;
    .modal-header {
      display: unset;
      border-bottom: unset;
      .modal-title {
        @include heading_12;
      }
      .btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 10px;
        color: #fff;
      }
    }
    .modal-body {
      padding: 0px;
    }
    .modal-footer {
      border: none;
      justify-content: center;
    }
  }
}

// css for road map modal

.roadmap_popup {
  .modal-dialog {
    width: 160px !important;
  }
}
