.user_layout_wrap {
  background-color: #030220;
  background-image: url('../../../../public/assets/images/home_background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
